@import "~bootstrap/scss/functions";
@import '../../style/variables.scss';


@mixin line($line-color) {
    height: 100vh;
    background-color: tint-color($line-color, 50%);
    border: 1px solid $line-color; 
    color: $line-color; 
}

.Robot {
    min-height: '120px';
    width: '200px';
    .Button {
        &--fooMining {
            background-color: $fooMiningColor;
        }
        &--barMining {
            background-color: $barMiningColor;  
        }
        &--foobarCrafting {
            background-color: $foobarCraftingColor;
        }
        &--shopping {
            background-color: $shoppingColor; 
        }
        &--benching {
            background-color: $benchingColor; 
        }

    }
    &FooMining {
        @include line($fooMiningColor)
        
    }
    &BarMining {
        @include line($barMiningColor)    
    }
    &FoobarCrafting {
        @include line($foobarCraftingColor) 
    }
    &Shopping {
        @include line($shoppingColor) 
    }
    &Benching {
        @include line($benchingColor) 
    }
}